.item-list-container {
  width: 85%;
  margin: auto;
}

.taps {
  display: flex;
  margin-left: 40px;
}

.tap {
  padding: 8px;
  border-bottom: 2px solid rgb(233, 231, 231);
}

.tap:hover {
  border-color: black;
}

.active {
  background: hsl(217, 71%, 53%);
  border-color: hsl(217, 71%, 53%);
  color: white;
}

.item-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  color: #5f5f5f;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-image {
  position: relative;
  overflow: hidden;
}

.item img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.item-content {
  flex: 1;
}

.item-name {
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.item-summary {
  font-size: 12px;
}

.item-price {
  color: #23af6e;
  display: flex;
  align-items: center;
}

.item-size {
  font-size: 11px;
}

.won {
  margin-top: 2px;
  font-size: 12px;
}

.item-balloon {
  font-size: 12px;
  color: #f38a00;
}

.is-sold {
  filter: brightness(0.4);
}

.item-soldMsg {
  position: absolute;
  z-index: 100;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-soldMsg-text {
  color: gray;
  text-decoration: line-through;
}

.item-tags {
  display: flex;
  flex-wrap: wrap;
}

.item-tag {
  color: #fa745e;
  padding: 2px;
  font-size: 10px;
  margin: 0.5px;
  border: 1px solid#FA745E;
  border-radius: 8px;
}

.first-tag {
  color: white;
  background: #fa745e;
}

@media screen and (max-width: 1024px) {
  .item-list {
    grid-template-columns: 1fr 1fr;
  }
  .item-list-container {
    width: 100%;
  }

  .taps {
    margin-left: 20px;
  }
}
